    #contenedorApi {
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        background:#3A4361;
    }

    #titulo {
        width: 100%; 
        display: flex; 
        justify-content: center;
        color: white; 
        text-transform: uppercase; 
        padding:1rem;
        font-size: 2.5rem;
        font-weight: bold;
    }

    #contenedorCards {
        width: 100%;
        display: flex; 
        flex-wrap: wrap; 
        align-items: center;
        justify-content:center;
    }

    #botones, .boton {
        width: 30%; 
        margin: 1rem;
    }

/*Tablet */
@media only screen and (min-width: 391px) and (max-width: 768px) {

    #titulo {
        font-size: 1.5rem; 
        padding: 0.5rem; 
    }

    #botones,.boton {
        width: 75%; 
    }
}

/* Estilos para dispositivos móviles (360px de ancho) */
@media (max-width: 390px) {
    #titulo {
        font-size: 1.25rem; 
        padding: 0.5rem; 
    }

    #contenedorCards {
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    }

    #botones, .boton {
        width: 100%;
        margin: 0.5rem;
    }
}