    #card {
        width: 60%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 2px solid black; */
        border-radius: 20px;
        margin:0;
        padding: 0;
    }

    #nombrePokemon {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        margin: 0.5rem;
        border-bottom: 3px solid #292B33;
    }

    #cardBody{
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction:row;

    }

    #imagenPokemon {
        width: 60%;
        object-fit: contain; 
        margin:1rem;
    }

    #cardTexto {
        width: 40%; 
        display: flex;
        flex-direction: column; 
        justify-content:center;
        text-align:center;
        border-left:3px solid #292B33;
    }

    #subtitulo {
        font-weight:bold;
        text-align:left;
        margin-left: 1.5rem;
    }

    #lista {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content:center;
        margin: 1rem;
    }

    #listaItem_tipo  {
        width:80%;
        font-weight:bold;
        border:1px solid black; 
        margin: 0.2rem;
        border-radius:inherit;
        transition: background-color 0.3s
    }

    #listaItem_tipo:hover{
        background-color: #3B5094;
        color: white;
    }

    #listaItem {
        width:80%;
        text-transform: capitalize;
    }

@media (max-width:768px) {
    #card {
        width: 80%;
    }

    #nombrePokemon{
        font-size: 1.5rem;
    }

    #cardBody{
        height: 70vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #imagenPokemon {
        margin: none;
    }

    #cardTexto {
        width: 100%;
        border: none;
    }

    #subtitulo {
        margin: 0.5rem;
    }

    #lista {
        margin: none;
    }

}

@media (max-width: 390px) {
    #card {
        width: 90%;
        height: 90vh;
        margin: 0;
        padding: 0;
    }

    #cardBody {
        height: 80vh;
    }

    #nombrePokemon{
        font-size: 1rem;
    }
    
    #lista, #listaItem_tipo, #imagenPokemon {
        margin: none;
    }

    #subtitulo {
        margin: 0.1rem;
    }
}