@media (min-width:769px)  {
    #card {
        width: 60%;
        height: 75vh;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        /* alignItems: center; */
        justify-content: center;
        /* border: 2px solid black; */
        border-radius: 20px;
    }

    #nombrePokemon {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        margin: 0.5rem;
        border-bottom: 3px solid #292B33;
    }

    #cardBody{
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction:row;
    }

    #imagenPokemon {
        width: 60%;
        object-fit: contain; 
        margin:1rem;
    }

    #cardTexto {
        width: 40%; 
        display: flex;
        flex-direction: column; 
        justify-content:center;
        text-align:center;
        border-left:3px solid #292B33;
    }

    #subtitulo {
        font-weight:bold;
        text-align:left;
        padding: 0.5rem;
        margin-left: 1.5rem;
    }

    #lista {
        display:flex;
        flex-direction:column;
        margin:1rem;
        align-items: center;
        justify-content:center;
    }

    #listaItem_tipo  {
        width:80%;
        font-weight:bold;
        border:1px solid black; 
        margin: 0.2rem;
        border-radius:inherit;
        transition: background-color 0.3s
    }

    #listaItem_tipo:hover{
        background-color: #3B5094;
        color: white;
    }

    #listaItem {
        width:80%;
        text-transform: capitalize;
    }
}

@media (max-width: 390px) {
    #card {
        width: 100%;
        padding: 1rem;
    }

    #cardBody{
        flex-direction: column;
    }

    #imagenPokemon {
        width: 100%;
    }
}